@model IEnumerable<GamesDatabase.Web.Models.ViewModels.Games.SimpleGameViewModel>

@foreach (var game in Model)
{
    <div class="col-md-2">
        @* TODO: Onclick it should redirect to the details page of that game *@
        <div class="card mb-4 shadow-sm" style="height: 260pt">
            @* TODO: Resizing here is really bad and should be minimal. Additional validation logic for the cover image should be added *@
            <img class="card-img bg-dark" src="@game.CoverImage" alt="Cover Image" style="height: 200px;">
            <div class="card-body">
                <a class="card-link text-dark" asp-area="" asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">@game.Title</a>
                <div class=" card-text py-1">Genres:</div>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">
                        @foreach (var genre in game.Genres)
                        {
                            <a class="text-dark" asp-area="" asp-controller="Games" asp-action="Browse" asp-route-genreIds="@genre.Id" title="@genre.Description">@genre.Name</a>
                        }
                    </small>
                </div>
            </div>
        </div>
    </div>
}