@Model

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">Reviews</th>
            <th scope="col">Developer</th>
            <th scope="col" style="width: 125px">Date Released</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var game in Model)
            {
                <tr>
                    <td>
                        <img class="img-thumbnail w-50" src="https://cdn.pixabay.com/photo/2017/12/29/18/47/nature-3048299__340.jpg" />
                    </td>
                    <td>@game.Title</td>
                    <td>Should display Genre</td>
                    <td>@game.Raiting</td>
                    <td>@game.ReviewsCount</td>
                    <td>@game.Developer</td>
                    <td>@game.DateReleased.ToShortDateString()</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>